* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: block;
    background-color: #f0d2d4;
    width: 50vh;
    padding: 20px;
    margin: 20px;
}

form {
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    display: flex;
    color: #976e7c;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    position: relative;
}

main h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -4px;
    left: 0.5;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(130, 97, 167, 0.6671043417366946) 62%, rgba(167, 152, 179, 1) 68%, rgba(98, 50, 156, 0.8057742782152231) 100%);
}

button {
    position: relative;
    display: block;
    padding: 10px;
    margin-top: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button:hover {
    cursor: pointer;
    text-transform: uppercase;
    background-color: #d9b0b2;
    color: black;
    border: none;
    border-radius: 5px;
}

.titulo {
    background-color: #d9b0b2;
    width: 100%;
}

.titulo,
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bill {
    width: 30%;
    margin: 10px;
    border-radius: 5%;
    border: none;
}

#service {
    margin-top: 10px;
    margin: 10px;
}

#service-quality {
    margin-top: 5px;
    border-radius: 5%;
    border: none;
}

#people {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

#input-people {
    width: 15%;
    margin: 10px;
    border-radius: 5%;
    border: none;
    text-align: center;
}